
<div class="wrapper">
  <div class="body">
    <h1>Registrar paciente</h1>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="Nombre">
      <label>Nombre</label>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" placeholder="Apellidos">
      <label>Apellidos</label>
    </div>
    <div class="form-floating mb-3">
      <input type="email" class="form-control" placeholder="name@example.com">
      <label>Email</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" placeholder="password">
      <label>Contraseña</label>
    </div>
    <div class="d-grid gap-2">
      <button [routerLink]="['/medicamentos']" routerLinkActive="router-link-active"  class="btn btn-primary" type="button">Aceptar</button>
    </div>

</div>



